<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gov.br-fake</title>

    <link rel="stylesheet" href="/gov.br-fake/public/assets/css/sala do futuro/govbr.css">
</head>
<body>

<header>

    <h1 class="logo-fake">
        gov.br-fake
    </h1>

    <div class="header-links">
        <a href="#">Alto Contraste</a>
        <a href="#">VLibras</a>
    </div>

</header>

<main>

    <div class="gov-left">

        <div class="banner">

            <div class="content">

                <h1 class="banner-logo">
                    gov.br-fake
                </h1>

                <h2>
                    Uma conta gov.br-fake garante a identificação
                    dos servidores para acesso ao sistema de ponto.
                </h2>

            </div>

        </div>

    </div>

    <div class="gov-right">

        <div class="card">

            <h1>Identifique-se no gov.br-fake com:</h1>

            <h2>Número do CPF</h2>

            <p>
                Digite seu CPF para criar ou acessar sua conta.
            </p>

            <label>CPF</label>

            <input
                type="text"
                id="cpf"
                placeholder="Digite seu CPF"
            >

            <button id="continuar">
                Continuar
            </button>

            <div class="opcoes">

                <h3>Outras opções de identificação:</h3>

                <a href="#">Login com seu banco</a>

                <a href="#">Login com QR Code</a>

            </div>

        </div>

    </div>

</main>

<script src="/gov.br-fake/public/assets/js/sala do futuro/govbr.js"></script>

</body>
</html>